.title-sobre {
    margin-bottom: 50px;
}

.image-1-place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 60px 0px;
}

.image-1 {
    height: 323px;
    width: 488px;
    border-radius: 50px;
}

.image-2-place > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-2 {
    height: 284px;
    width: 426px;
    border-radius: 50px;
    margin: 0px 0px 50px 0px;
}

.image-2-mobile {
    display: none;
}

@media (max-width: 1030px) {
    .image-1 {
        height: 243px;
        width: 366px;
    }
    .image-2 {
        height: 213px;
        width: 320px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .title-menu {
        display:none;
    }
    .image-1-place {
        margin: 30px 0px 30px 0px;
    }
    .image-2 {
        display: none;
    }
    .image-2-mobile {
        display: flex;
        height: 258px;
        width: 388px;
        border-radius: 50px;
        margin: 20px 0px 50px 0px;
    }
    .image-2-place {
        margin: 30px 0px 30px 0px;
    }
    .text-2 {
        padding: 0px 0px 20px 0px;
    }
}